body { 
	background-color: #8c8c8c;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;;
}

/* TABLE STYLES */
.anlagensuche {
	margin-left: auto;
	margin-right: auto;
}

.anlagensuche {
	width: 100%;
	border-collapse: collapse;
}

td {
	padding: 4px;	
}

.mangelansicht {
	border-collapse: collapse;

}

.mangelansicht td, .mangelansicht th {
	font-size: 0.9em;
	border: 1px solid #000000;
	padding: 3px 7px 2px 7px;	
}

.mangelansicht th {
	font-size: 0.9em;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #5F8EDC;
	color: #ffffff;	
}

.anlagensuche td,.anlagensuche th {
	font-size: 1em;
	border: 1px solid #000000;
	padding: 3px 7px 2px 7px;
}

.anlagensuche th {
	font-size: 1.1em;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 4px;
	background-color: #5F8EDC;
	color: #ffffff;
}

#wrapper {
	background-color: white;
	color: black;
	width: 100%;
	margin: 10px auto;
	border: 1px solid #000000;
}

#kopfbereich {
	background-color: #5F8EDC;
	color: white;
	padding: 10px 0px 0 0px;
	/*padding: 10px 20px 0 20px;*/
}

#kopfpadd {
	padding: 10px 20px 0 20px;
}

#kopfbereich p {
	padding: 5px 0 5px 0;
	margin-bottom: 0;
}

#textbereich {
	padding: 20px 10px 20px 20px;
}

#textbereich a {
	
}

#textbereich a:hover,#textbereich a:focus {
	
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
}

{
padding
:
 
0;
margin
:
 
0;
}
a {
	text-decoration: none;
}

a:link {
	
}

a:visited {
	
}

a:hover,a:focus {
	
}

a:active {
	
}

#menu {
	text-align: left;
	color: black;
	background-color: #5F8EDC;
	padding: 5px 10px 4px 10px;
	border-bottom: 1px solid #000000;
}

#menu ul {
	margin-bottom: 0;
}

#menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
}

#menu a,#menu strong {
	color: black;
	background-color: #D4E1F7;
	padding: 4px 8px 4px 8px;
	border: 1px solid #000000;
}

#startseite #navi01 a,#anlagensuche #navi02 a,#mangelreport #navi03 a,
  #mangelsuche #navi02 a,
  #mangelbearbeiten #navi03 a
 {
	color: black;
	background-color: white;
	border-bottom-color: white;
}

#menu a:hover {
	color: black;
	background-color: white;
	border-bottom-color: white;
}

#menu a:active {
	color: black;
	background-color: white;
	border-bottom-color: white;
}

/* BUTTON STYLES */
.btn {
	-moz-box-shadow: inset 0px 1px 2px 0px #97c4fe;
	-webkit-box-shadow: inset 0px 1px 2px 0px #97c4fe;
	box-shadow: inset 0px 1px 2px 0px #97c4fe;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6
		), color-stop(1, #1e62d0) );
	background: -moz-linear-gradient(center top, #3d94f6 5%, #1e62d0 100%);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#3d94f6', endColorstr = '#1e62d0' );
	background-color: #3d94f6;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #337fed;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	padding: 4px 20px;
	text-decoration: none;
}

.btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e62d0
		), color-stop(1, #3d94f6) );
	background: -moz-linear-gradient(center top, #1e62d0 5%, #3d94f6 100%);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#1e62d0', endColorstr = '#3d94f6' );
	background-color: #1e62d0;
}

.btn:active {
	position: relative;
	top: 1px;
}

/* TEXT INPUT FILES STYLE */
.txt {
	border: 1px solid #848484;;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 4px 0px;
}

.hidden {
	visibility: hidden !important;
}

h4 {
	color: red;
	font-size: 10pt;
}

.link span {
	width: 16px;
	height: 16px;
	padding-left: 20px;
	background-repeat: no-repeat;
	
}
a.photo{
	
}
